body {
  background: url("Background4.png") top center;
  background-size: cover;
  color: gray;

}

#header {

  transition: all ease-in-out 0.5s;
  z-index: 9997;
  transition: all 0.5s;
  padding: 0 15px;

  overflow-y: auto;
}

a {
  color: gray;

}

#header .collapse {
  float: right;
  margin-left: 40%;
}

#header .navbar-nav a {
  color: gray;
}

#header .brand {
  width: 0.07px;
  display: inline;
}

#main .col-lg-4 {
  margin-top: 20%;
  scale: 1.4;
  margin-left: 10%;

}

.xyz {
  margin-left: 30%;
}